<table border="0">
	<tr>
		<th>Index</th>
		<th>Title</th>
		<th>photo</th>
		<th>city</th>
		<th>power</th>
		<th>Movies total</th>
	</tr>

	<tr ng-repeat="hero in data.heros">
		<td>{{ hero.id }}</td>
		<td>{{ hero.title }}</td>
		<td><img ng-src="{{ hero.photo }}" width="50" align="absmiddle" /></td>
		<td>{{ hero.city }}</td>
		<td>
		<input type="range" min="1" max="10" ng-value="{{ hero.power }}" >
		</td>
		<td><a href="#/movies/{{ movie.id }}"> Total Movies {{ hero.movies }} </a></td>
	</tr>

</table>